<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <!-- Indicador de carga mientras se envían las respuestas -->
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Enviando respuestas, por favor espera...</p>

    <!-- Aquí se añade el video debajo del spinner -->
    <video
      src="assets/pug-dance.mp4"
      class="loading-video"
      autoplay
      muted
      loop
      playsinline>
    </video>
  </div>


  <!-- Introducción del cuestionario -->
  <div class="intro-card" *ngIf="!isLoading">
    <mat-card-header class="intro-header">
      <h2>Cuestionario de Orientación Vocacional CHASIDE</h2>
    </mat-card-header>
    <mat-card-content class="intro-content">
      <p>
        ¿Te encuentras en el proceso de decidir tu futuro académico o profesional? Este cuestionario de
        {{ preguntas.length }} preguntas está diseñado para ayudarte a identificar tus intereses y aptitudes.
      </p>
    </mat-card-content>
  </div>

  <!-- Preguntas del cuestionario -->
  <mat-card *ngIf="!isLoading && preguntas.length > 0" class="question-card">
    <mat-card-header class="card-header">
      <h2>Pregunta {{ preguntaActual + 1 }} de {{ preguntas.length }}</h2>
    </mat-card-header>
    <mat-card-content class="card-content">
      <h3>{{ preguntas[preguntaActual].enunciado }}</h3>
    </mat-card-content>

    <!-- Botones para responder Sí/No con selección basada en la respuesta guardada -->
    <div *ngIf="!mostrarBotonEnviar" class="button-container">
      <button mat-raised-button class="custom-button"
        [ngClass]="{'selected': obtenerRespuesta(preguntas[preguntaActual].idPregunta) === 1}"
        (click)="responder(preguntas[preguntaActual].idPregunta, true)">
        Sí
      </button>
      <button mat-raised-button class="custom-button warn"
        [ngClass]="{'selected': obtenerRespuesta(preguntas[preguntaActual].idPregunta) === 0}"
        (click)="responder(preguntas[preguntaActual].idPregunta, false)">
        No
      </button>
    </div>


    <!-- Botón para enviar el test -->
    <div *ngIf="mostrarBotonEnviar" class="submit-container">
      <button mat-raised-button color="primary" class="submit-button" (click)="enviarRespuestas()">
        Enviar Test
      </button>
    </div>
    <!-- Indicador de carga mientras se envían las respuestas -->
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
      <p>Enviando respuestas, por favor espera...</p>
      <!-- Aquí se añade el GIF debajo del spinner -->
      <img src="./../../../../../assets/pug-dance.mp4" alt="Cargando..." class="loading-gif">
    </div>

    <!-- Botón Anterior, solo visible cuando no se muestra el botón de Enviar Test -->
    <div class="nav-button-container" *ngIf="preguntaActual > 0 && !mostrarBotonEnviar">
      <button mat-button class="nav-button" (click)="anteriorPregunta()">
        Anterior
      </button>
    </div>
  </mat-card>
</div>
