<div class="container mt-4 experto-list-container">
  <h2 class="text-center mb-4 titulo-lista">Lista de Expertos</h2>

  <!-- Botón para abrir el formulario de creación de experto en un modal -->
  <div class="text-center mb-4">
    <button mat-raised-button color="primary" class="btn-crear-experto" (click)="openCrearExpertoDialog()">Crear Experto</button>
  </div>

  <!-- Tabla para mostrar la lista de expertos -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Especialidad</th>
        <th>Tarifa</th>
        <th>Acciones</th> <!-- Columna para las acciones (editar y eliminar) -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let experto of expertos">
        <td>{{ experto.nombre }}</td>
        <td>{{ experto.apellido }}</td>
        <td>{{ experto.telefono }}</td>
        <td>{{ experto.correo }}</td>
        <td>{{ experto.especialidad }}</td>
        <td>{{ experto.tarifa | currency }}</td>
        <td>
          <!-- Botones para editar y eliminar -->
          <button mat-icon-button color="primary" (click)="editarExperto(experto)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarExperto(experto)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
