.custom-toolbar {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.app-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-right: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Estilos para navegación desktop */
.desktop-nav {
  display: flex;
  align-items: center;
}

/* Estilos para el botón hamburguesa */
.hamburger-menu {
  display: none;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

/* Estilos para navegación móvil */
.mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  padding: 10px;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos comunes para botones */
button.mat-button {
  color: #34495e;
  font-size: 1rem;
  margin-left: 15px;
  text-transform: none;
  border-radius: 5px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

button.mat-button:hover {
  background-color: #ecf0f1;
  color: #2c3e50;
}

button.mat-icon-button {
  color: #34495e;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  transition: background-color 0.3s ease;
  position: relative; /* Importante para posicionamiento del badge */
}

/* Estilo actualizado para el badge de notificaciones */
.notification-badge {
  position: absolute;
  top: 0;          /* Ajustado desde top: 50% */
  right: 0;        /* Ajustado desde right: -8px */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 18px;     /* Ligeramente reducido para mejor apariencia */
  height: 18px;    /* Ligeramente reducido para mejor apariencia */
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: translate(50%, -50%); /* Ajusta la posición para centrar */
}


/* Media queries */
@media (max-width: 768px) {
  .app-name {
    font-size: 1.2rem;
  }
  .mobile-nav .notification-badge {
    right: auto;    /* Reset del right */
    transform: translate(50%, -50%); /* Mantiene la posición centrada */
  }
  .mobile-nav button.mat-icon-button {
    margin-left: 12px; /* Añade un poco de margen a la izquierda en móvil */
  }

  /* Ocultar navegación desktop */
  .desktop-nav {
    display: none;
  }

  /* Mostrar botón hamburguesa */
  .hamburger-menu {
    display: block;
  }

  /* Mostrar navegación móvil cuando está abierta */
  .mobile-nav.open {
    display: flex;
  }

  /* Ajustes para botones en móvil */
  .mobile-nav button.mat-button {
    margin: 5px 0;
    width: 100%;
    text-align: left;
  }
}
