<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <div class="title-container" fxFlex="100">
    <h1>Test de Orientación Vocacional CHASIDE</h1>
  </div>
  <mat-card fxFlex="100">
    <mat-card-content>
      <p>
        El Test de Orientación Vocacional CHASIDE está diseñado para ayudarte a descubrir tus intereses y aptitudes mediante una serie de preguntas sencillas de "Sí" o "No". Este enfoque directo permite identificar de forma precisa las áreas profesionales que mejor se adaptan a tus habilidades y preferencias. Para obtener resultados útiles y precisos, es fundamental que respondas con sinceridad y sin apresurarte.
      </p>
      <ul>
        <li>Lee cada pregunta detenidamente antes de responder.</li>
        <li>Responde de manera honesta, seleccionando "Sí" o "No" según corresponda.</li>
        <li>No te apresures; tómate el tiempo necesario para reflexionar sobre cada respuesta.</li>
        <li>Completa todas las preguntas para obtener un resultado preciso.</li>
        <li>Recuerda que este test busca orientarte y no hay respuestas correctas o incorrectas.</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="text-center" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" class="custom-button" routerLink="/user/test-chaside">Acceder al Test</button>
    </mat-card-actions>

  </mat-card>
</div>
