<div class="container-fluid p-0">
  <div class="row">
    <!-- Barra lateral para pantallas grandes -->
    <nav class="col-md-3 d-md-block text-white sidebar">
      <div class="position-sticky py-3">
        <h3 class="text-center mb-4">Admin Panel</h3>

        <!-- Barra lateral para pantallas grandes -->
        <mat-nav-list *ngIf="!isMobile">
          <mat-list-item>
            <a mat-button class="w-100 text-white" routerLink="/admin/registroTest">
              <mat-icon class="me-2">assignment</mat-icon> Crear Test
            </a>
          </mat-list-item>

          <mat-list-item>
            <a mat-button class="w-100 text-white" routerLink="/admin/crear-experto">
              <mat-icon class="me-2">person_add</mat-icon> Experto
            </a>
          </mat-list-item>

          <mat-list-item>
            <a mat-button class="w-100 text-white" routerLink="/admin/recurso-educativo">
              <mat-icon class="me-2">school</mat-icon> Recursos educativos
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto px-md-4 py-4">
      <!-- Tabs para pantallas pequeñas -->
      <mat-tab-group *ngIf="isMobile" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Crear Test"></mat-tab>
        <mat-tab label="Experto"></mat-tab>
        <mat-tab label="Recursos Educativos"></mat-tab>
      </mat-tab-group>

      <!-- Contenido principal (router outlet) -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
