.payment-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.payment-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-input-element {
  letter-spacing: 1px;
}

.no-access {
  color: #d32f2f;
  font-weight: bold;
}

button[type="submit"] {
  width: 100%;
  margin-top: 20px;
}

button[type="button"] {
  display: block;
  width: 100%;
  margin-top: 10px;
  color: #757575;
}
