<!-- Indicador de carga centrado -->
<div *ngIf="loading" class="text-center loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Contenido principal -->
<div *ngIf="!loading">
  <h2 class="text-center mb-4">Lista de Expertos</h2>

  <!-- Campo de búsqueda -->
  <div class="d-flex justify-content-center mb-3">
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Buscar por especialidad</mat-label>
      <mat-icon matPrefix>search</mat-icon> <!-- Icono de búsqueda al principio -->
      <input matInput (input)="filtrarExpertos($event)" placeholder="Ingrese nombre o especialidad">
    </mat-form-field>
  </div>

  <!-- Lista de expertos extendida a lo largo de la página -->
  <div class="expert-card-grid full-width">
    <div *ngFor="let experto of expertosFiltrados | slice:(pageIndex * pageSize):(pageIndex * pageSize + pageSize)" class="expert-card">
      <mat-card class="expert-card-content">
        <img mat-card-image
             [src]="experto.imagenBase64 ? 'data:image/jpeg;base64,' + experto.imagenBase64 : 'assets/default-expert-image.png'"
             alt="Foto de {{ experto.nombre }}"
             class="expert-image">
        <mat-card-header>
          <mat-card-title>{{ experto.nombre }} {{ experto.apellido }}</mat-card-title>
          <mat-card-subtitle>{{ experto.especialidad }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Descripción:</strong> {{ experto.descripcion }}</p>
          <p><strong>Tarifa:</strong> ${{ experto.tarifa }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="color-default" (click)="contactarExperto(experto)">Contactar</button>
          <button mat-raised-button class="color-default" [routerLink]="['/user/ver/detalle', experto.id]">Ver Detalles</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>

  <!-- Paginador -->
  <mat-paginator [length]="expertosFiltrados.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[3, 6, 9]"
                 (page)="onPageChange($event)"
                 class="paginator">
  </mat-paginator>
</div>
