/* Barra de navegación principal */
.custom-toolbar {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

/* Nombre de la aplicación */
.app-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-right: auto;
}

/* Botón de menú */
.hamburger-menu {
  display: none;
  background-color: transparent;
  border: none;
  color: #34495e;
  font-size: 2rem;
  cursor: pointer;
}

/* Menú móvil */
.mobile-nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 10px;
  width: 100%;
  z-index: 10;
  flex-direction: column;
}

.mobile-nav.open {
  display: flex;
}

/* Responsivo */
@media (max-width: 768px) {
  .app-name {
    font-size: 1.2rem;
  }

  /* Ocultar botones normales */
  button.mat-button {
    display: none;
  }

  /* Mostrar menú hamburguesa */
  .hamburger-menu {
    display: block;
  }

  /* Icono más pequeño */
  button.mat-icon-button {
    padding: 6px;
  }
}
